@model TDP.Models.Application.Movie;
@{
    ViewData["Title"] = "FindByTitle";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row w-50 align-content-sm-start">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
            </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <div class="w-100"></div>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Released)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Released)
        </dd>
        <div class="w-100"></div>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Runtime) mins
        </dd>
        <div class="w-100"></div>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Plot)
        </dd>
        <div class="w-100"></div>
    </dl>
        <img src="@Url.Content(Model.Poster)" />
    </div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>