@model TDP.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2 class="text-info pt-2 pb-3">Profile</h2>  
  
<div class="row backgroundWhite border">
    <div>
        <form asp-controller="User" asp-action="Profile" method="post" enctype="multipart/form-data">
            <div style="display: flex; flex-wrap: wrap;">
                <div style="flex-grow: 2;">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <!-- Hidden input for Id -->
                    <input type="hidden" asp-for="@Model.Id"/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="@Model.Username"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="@Model.Username" class="form-control" value="@Model.Username"/>
                            </div>
                            <span asp-validation-for="@Model.Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="@Model.FirstName"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="@Model.FirstName" class="form-control" value="@Model.FirstName"/>
                            </div>
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="@Model.LastName"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="@Model.LastName" class="form-control" value="@Model.LastName"/>
                            </div>
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label asp-for="@Model.EmailAddress"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="@Model.EmailAddress" class="form-control" value="@Model.EmailAddress"/>
                            </div>
                            <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                            </div>
                            <div class="col-8">
                                <button type="submit" class="btn btn-success form-control">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; justify-content: center; margin-right: 15px; margin-left: 30px;">
                    <!-- Display avatar image -->
                        <img id="avatar" src="@Model.ProfilePicture" style="height: 175px; width: 175px; border: 2px groove black;" alt="avatar"/>
                    <input asp-for="@Model.NewProfilePicture" type="file" id="fileInput" name="newProfilePicture" style="display: none;" accept="image/*"/>
                </div>
            </div>
        </form>
    </div>
</div>  
  
  
@section Scripts {  
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('avatar').addEventListener('click', function() {
            document.getElementById('fileInput').click();
        });

        document.getElementById('fileInput').addEventListener('change', function(event) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('avatar').src = e.target.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        });
    </script>
}
