@model TDP.Models.Application.MovieDTO;
@{
    ViewData["Title"] = "FindById";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row align-content-sm-center">
        <dd class="col-sm-6">
            <dl class="row align-content-sm-center">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Released)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Released)
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Runtime)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Runtime) mins
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Actors)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Actors)
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Director)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Director)
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Writer)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Writer)
                </dd>
                <div class="w-100"></div>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Plot)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Plot)
                </dd>
            </dl>
        </dd>
        <dt class="col-sm-6 align-content-sm-center">
            <img src="@Url.Content(Model.Poster)" />
        </dt>
    </dl>

    <form id="addToWishListForm" method="post" asp-controller="Movie" asp-action="AddToWishList">
        <input type="hidden" name="movieId" value="@Model.Id" />
        <input type="hidden" name="userId" value="C06D24C3-2303-47FF-85C2-64DEF885D63D" />
        <button type="button" id="addToWishListButton">Add to Wish List</button>
    </form>


</div>


<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#addToWishListButton").click(function () {
            $.ajax({
                url: "/Movie/AddToWishList", // Set the URL to your controller action
                type: "POST",
                data: $("#addToWishListForm").serialize(), // Serialize the form data
                success: function (data) {
                    // Handle the server's response here (if needed)
                },
                error: function (xhr, status, error) {
                    // Handle any errors here
                }
            });
        });
    });
</script>